{
	"env": {
		"node": true,
		"browser": true,
		"es2021": true
	},
	"extends": ["prettier", "plugin:node/recommended"],
	"parserOptions": {
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"indent": ["warn", "tab"],
		"quotes": [
			"warn",
			"single",
			{ "avoidEscape": true, "allowTemplateLiterals": true }
		],
		"no-unused-vars": "warn",
		"no-console": "off",
		"no-tabs": "off",
		"no-restricted-syntax": "off",
		"func-names": "off"
	}
}
